module.exports = {

    db: {
       mongodb: {
         url: 'mongodb://localhost:27017/crud',
       },
       postgres: {
         url: 'postgres://username:password@127.0.0.1:5432/iati_dstore',
       },

    },
    passport: {
      secret: 'dccdfdfejdjdjkadskjdkf',   
    },  
}
